@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
}

//HEADINGS

h1,
h2,
h3 {
  margin: 0;
  font-weight: 100;
  &.lg-heading {
    font-size: 6rem;
  }
  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

a {
  color: #111111;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

//MAIN

main {
  padding: 4rem;
  //height: 100%;
  //makes the footer stay at bottom
  min-height: calc(100vh - 60px);

  .icons {
    margin-top: 1rem;

    a {
      color: set-text-color($primary-color);
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

// ABOUT PAGE GRID LAYOUT
.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bio-img bio bio"
    "language-icons language-icons language-icons"
    "bio-2 bio-2 bio-2";
  grid-template-columns: repeat(3, 1fr);
}

.bio-img {
  grid-area: bio-img;
  margin: auto;
  width: 250px;
  height: 250px;
  background: url(../img/portrait.jpg);
  border-radius: 50%;
  border: solid 3px #111111;
}

.bio {
  grid-area: bio;
  font-size: 1.5rem;
}

.language-icons,
img {
  flex-wrap: wrap;
}

.language-icons {
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 10vh;
  color: set-text-color($primary-color);
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  i {
    padding: 20px;
  }

  img {
    background-color: #fff;
    border-radius: 5px;
    width: fit-content;
    width: 63px;
    height: 72px;
    border: 1px solid#111111;
    color: set-text-color($primary-color);
  }
}
.bio-2 {
  grid-area: bio-2;
  font-size: 1.25rem;
  padding: 0.5rem;
}

///PROJECTS

.projects-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.7rem;

  img {
    width: 100%;
    border: 2px rgb(10, 10, 10) solid;
    border-radius: 5px;
    margin-bottom: 10px;
    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;

      @include easeOut;
    }
  }
}

//CONTACT PAGE
#contact-h1 {
  margin-bottom: 10vh;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  div {
    font-size: 2rem;
    border: 2px #000000 solid;
    border-radius: 6px;
    padding: 1.5rem 2.5rem;
    margin-bottom: 2rem;
    @include easeOut;

    &:hover {
      border: 2.75px #000000 solid;
      padding: 2rem 3rem;
      @include easeOut;
    }
  }

  .linkedin {
    a {
      color: set-text-color($primary-color);
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }
}

// Button Styles
.btn {
  display: inline;
  padding: 6px;

  margin-right: 15px;
  border: 1px #111111 solid;
  border-radius: 10px;

  &:hover {
    border: 1px $secondary-color solid;
    padding: 6.5px 6.5px;
    color: $secondary-color;
  }
}
#main-footer {
  text-align: center;
  padding: 1rem;
  color: set-text-color($primary-color);
  height: 60px;
}

//media queries at bottom so it runs AFTER original CSS
@import "mobile";
